@import url("fonts.css");
@import url("reset.css");

:root {
  --text-color: #000;
  --bg-color: #D3D3D3;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*="--margin"] {
  margin-bottom: 3.125rem;
}

[class*="--green"] {
  background-color: #7A956B;
}

[class*="--brown"] {
  background-color: #794F45;
}

[class*="--purple"] {
	background-color: #77608D;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #000;

  background-color: #FFF;
}


/*! Header
======================================== */

.header {
	padding: 1.25rem 0;

	text-align: center;
}

.header__title {
	font-size: 1.5rem;
	color: #8b0000; /* darkred */
}


/*! Tasks
======================================== */

.tasks__inner {
  padding: 1.25rem;

  border: 1px solid #000;
}

.tasks__items >:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tasks__item {
  padding: 1.25rem;

  background-color: #D3D3D3;
}


/** .relative ============ */
.relative__lists {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1.25rem;
}

.relative__list {
  padding: 20px;
}

.relative__list span {
  margin-bottom: 8px;

  font-weight: 700;

  text-align: center;
}

.relative__list--px {
  font-size: 20px;
}

.relative__list--rem {
  font-size: 20px;
}

.relative__list--rem li {
  font-size: 1.25rem;
}

.relative__list--em {
  font-size: 20px;
}

.relative__list--em li {
  font-size: 1.25em;
}


/** .hero ============ */
.hero {
  height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 6.25rem 1.25rem;

  background-color: var(--bg-color);
}

.hero__title {
  color: var(--text-color);
  font-size: clamp(1.25rem, 0.629rem + 3.11vw, 3.25rem); /*min size 20px max size 52px*/
  font-weight: 700;
}

.hero__sub-title {
  color: var(--text-color);
  font-size: clamp(1rem, 0.689rem + 1.55vw, 2rem); /*min size 16px max size 32px*/
}


/** .element ============ */
.element {
  display: flex;
  justify-content: space-evenly;
  column-gap: 1.25rem;
}

.element__basic {
	/* Вказуємо розмір по рядку (сторони по якій рухається текст) */
	inline-size: 31.25rem;
	/* Вказуємо розмір по блоку (сторони яка перпендикулярна руху тексту) */
	block-size: 6.25rem;
	/* Вказуємо відступ на початку руху тексту */
	padding-inline-start: 0.9375rem;

	position: relative;
	/* Вказуємо зсув на початку руху тексту */
	inset-inline-start: 0.9375rem;

	/* border-left: 1px solid green; */
	border-inline-start: 0.3125rem solid #7A956B;
}

.element__rtl {
	/* Справа наліво */
	direction: rtl;
	inline-size: 15.625rem;
	block-size: 6.25rem;
	padding-inline-start: 0.9375rem;

	border-inline-start: 0.3125rem solid #794F45;
}

.element__vertical {
  /* Зверху вниз */
	writing-mode: vertical-lr;
	inline-size: 15.625rem;
	block-size: 6.25rem;
	padding-inline-start: 0.9375rem;

	border-inline-start: 0.3125rem solid #77608D;
}

/** .clip-path ============ */
.clip-path {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 0.9375rem;

  position: relative;
}

.clip-path::before {
  content: "clip-path, cursor: pointer; pointer-events: none; inset: 0;";
  width: 100%;
  height: 100%;
  padding: 1.25rem;

  background-color: rgba(211, 211, 211, 0.7);

  position: absolute;
  /* top left bottom right */
  inset: 0;
  z-index: 1;

  pointer-events: none;
}

.clip-path__star, 
.clip-path__pentagon,
.clip-path__circle {
  inline-size: 12.5rem;
  block-size: 12.5rem;

  font-size: 0;
  color: transparent;

  cursor: pointer;
}

.clip-path__star:hover, 
.clip-path__pentagon:hover,
.clip-path__circle:hover {
  z-index: 2;
}

.clip-path__star {
  background-color: #7A956B;

  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.clip-path__pentagon {
  background-color: #794F45;

  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.clip-path__circle {
  background-color: #77608D;

  clip-path: circle(50% at 50% 50%);
}

/* @media ============================== */
@media (prefers-color-scheme: dark) {
  /* простіше не змінювати окремі стилі, а перезаписувати значення css змінних при зміні колірної схеми сторінки */
  :root {
    --text-color: #D3D3D3;
    --bg-color: #000;
  }
}

@media (any-hover: hover), (pointer: fine) {
  /* any-hover: hover */
}

/* (any-hover: none) може не коректно працювати у деяких китайських телефонах 
тому додано ще медіазапит (pointer: coarse) */
@media (any-hover: none), (pointer: coarse) {
  /* any-hover: none */
}

@media (max-width: 1199.98px) {
  /* PC */
}

@media (max-width: 991.98px) {
  /* Tablet */
}

@media (max-width: 767.98px) {
  /* Mobile */
}

@media (max-width: 479.98px) {
  /* Mobile Small */
}

@media (max-width: 319.98px) {
  /* iPhone 5C/5S/5SE */
}

/** .up ============ */
.up {
	padding: 1.25rem 0;

	text-align: right;
}

.up__link {
	font-size: 1.125rem;
	color: #4B0082; /* indigo */

	text-transform: lowercase;
}

.up__link:hover {
	text-decoration: underline;
}


/*! Footer
======================================== */

.footer {
  padding: 1.25rem 0;
}

.footer__inner {
  display: flex;
  justify-content: center;
  column-gap: 0.9375rem;
  align-items: center;
}

.footer__text {
  font-size: 1.125rem;
  color: #006400; /* darkgreen */
}

/* @media ============================== */
@media (max-width: 29.9988em) {
  /* Mobile Small */
  .footer__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 0.9375rem;
  }
}
