@import url("fonts.css");
@import url("reset.css");


.wrapper {
	max-width: 1728px;
	min-height: 100%;
	margin: 0 auto;

	overflow: clip;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
} 

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	color: #000;
}

.header {
	padding: 20px 0;

	font-size: 24px;
	color: darkred;

	/* background: #FFF linear-gradient(90deg, rgba(139,0,0,1) 0%, rgba(139,0,0,0) 50%, rgba(139,0,0,1) 100%); */
	/* box-shadow: inset -7px -7px 25px rgba(139, 0, 0, 0.2), inset 7px 7px 25px rgba(139, 0, 0, 0.2); */

	text-align: center;
}

/* Tasks
========================================*/

.tasks {
}
.container {
}
.tasks__inner {
}

/* Game
========================================*/
.game {
	margin-bottom: 50px;
	background-color: beige;
}

.game__inner {
	padding: 50px 0;
}

.game__title {
	margin-bottom: 20px;

	font-size: 32px;
	color: indigo;
	text-align: center;
}

.sectors * {
	font-size: 0;
	color: transparent;

	background-color: #FFD700;
}

.sectors :not(:first-child) {
	visibility: hidden;
}

.sectors >:hover + [class*="sector"],
.sectors >:hover {
    visibility: visible;
}


.sector-start {
	width: 80px;
	height: 40px;
	padding: 7px 0;

	font-size: 24px;
	color: #000;

	background-color: darkred;

	text-align: center;
}

.sector-finish {
	width: 80px;
	height: 40px;
	padding: 7px 0;

	background-color: darkgreen;

	text-align: center;
}

.sector-finish a {
	font-size: 24px;
	color: #000;

	background-color: darkgreen;
}

.sector-win {
	width: 80px;
	height: 80px;
	padding: 25px 0;
	margin-left: 1120px; 
	
	font-size: 34px;

	border-radius: 50%;
	background-color: darkgreen;
	outline: 10px double darkgreen;
	outline-offset: 4px;

	text-align: center;

	visibility: hidden;
}

.sector-win:target {
	visibility: visible;
}

.sector-01 {
	width: 40px;
	height: 50px;
	margin-left: 20px;
}

.sector-02 {
	width: 20px;
	height: 50px;
	margin-left: 30px;
}

.sector-03 {
	width: 250px;
	height: 20px;
	margin-left: 30px;
}

.sector-04 {
	width: 10px;
	height: 100px;
	margin-left: 270px;
}

.sector-05 {
	width: 600px;
	height: 30px;
	margin-left: 270px;
}

.sector-06 {
	width: 20px;
	height: 180px;
	margin-left: 850px;
}

.sector-07 {
	width: 300px;
	height: 20px;
	margin-left: 570px;
}

.sector-08 {
	width: 40px;
	height: 100px;
	margin-left: 570px;
}
.sector-09 {
	width: 600px;
	height: 40px;
	margin-left: 570px;
}

.sector-10 {
	width: 20px;
	height: 60px;
	margin-left: 1150px;
}

.sector-finish {
	width: 80px;
	height: 40px;
	margin-left: 1120px;
}


/* Teachers
========================================*/
.teachers {
	background-color: #412672;
}

.teachers__inner {
	padding-top: 61px;
	padding-bottom: 102px;

	font-family: "Inter", sans-serif;
}

.teachers__title {
	max-width: 505px;
	margin-bottom: 31px;

	font-size: 38px;
	color: #FFF;
}

.teachers__title-name {
	font-weight: 700;
}

.teachers__cards {
	margin-left: -10px;
	margin-right: -10px;

	font-size: 0;
}

.teachers__card {
	width: 33.33333%;
	display: inline-block;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;

	font-size: 0;

	vertical-align: top;
	/* параметри box-shadow з макету */
	/* box-shadow: 0 384px 108px 0 rgba(0, 0, 0, 0), 0 246px 98px 0 rgba(0, 0, 0, 0.01), 0 138px 83px 0 rgba(0, 0, 0, 0.05), 0 62px 62px 0 rgba(0, 0, 0, 0.09), 0 15px 34px 0 rgba(0, 0, 0, 0.10); */
	box-shadow: 0 62px 62px 0 rgba(0, 0, 0, 0.1), 0 15px 34px 0 rgba(0, 0, 0, 0.1);
}

.teachers__card-content {
	min-height: 476px;
	padding: 20px;

	background-color: #FFF;
}

.teachers__card-content:hover {
	background-color: #FFBE48;
}

.teachers__card-content >:not(:last-child) {
	margin-bottom: 16px;
}

.card__image {
	max-width: 347px;
	min-height: 266px;

	color: transparent;
	font-size: 0;
}

.first-teacher {
	background: #FFF url("../img/teacher-1.jpeg") center / cover no-repeat;
}

.second-teacher {
	background: #FFF url("../img/teacher-2.jpeg") center / cover no-repeat;
}

.third-teacher {
	background: #FFF url("../img/teacher-3.jpeg") center / cover no-repeat;
}

.card__title {
	font-size: 22px;
	font-weight: 600;
	color: #000;
}

.card__text {
	font-size: 15px;
	line-height: 1.27;
	color: #4F4F4F;
}

.card__footer {
	display: inline-block;
	font-size: 15px;
	line-height: 1.27;
	color: #FE3F3F;
}

.card__footer:hover a {
	text-decoration-line: underline;
}


/* Intro 
========================================*/
.intro {
	background-color: #FFF;
}

.intro__inner {
	max-width: 518px;
	padding: 50px 0;

	font-family: "Inter", sans-serif;
}

.intro__inner >:not(:last-child) {
	margin-bottom: 20px;
}

.intro__title {
	font-size: 34px;
	color: #412672;
}

.intro__title-name {
	font-weight: 700;
}

.intro__text {
	font-size: 22px;
	color: #412672;
}

.intro__list {
	font-size: 20px;
	color: #4F4F4F;
	line-height: 2.55;
}

.intro__item::before {
	content: "";
	width: 29px;
	height: 29px;
	margin-right: 10px;

	background-image: url("../img/tick.svg");

	vertical-align: middle;
}

.footer {
	padding: 20px 0 20px 20px;

	font-size: 18px;
	color: darkgreen;

	/* background: rgba(255, 255, 255, 1) linear-gradient(to right, rgba(0, 100, 0, 0) 0%, rgba(0, 100, 0, 1) 100%); */
	/* color: indigo; */
	/* background: rgba(255, 255, 255, 1) linear-gradient(to right, rgba(75, 0, 130, 0) 0%, rgba(75, 0, 130, 1) 100%); */
}
