.checkbox {
  display: inline-block;
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #000;
}
.checkbox__input:checked + .checkbox__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.checkbox__text {
  cursor: pointer;
  position: relative;
  gap: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox__text:before {
  content: "";
  border-radius: 3px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}
.checkbox__text::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #7a956b;
  position: absolute;
  left: 5px;
  top: 5px;
}