@import url("fonts.css");
@import url("reset.css");


.wrapper {
	min-height: 100%;

	overflow: clip;
}

[class*="__container"] {
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	color: #000;

	background-color: #FFF;
}

/* Header
========================================*/

.header {
	padding: 20px 0;

	text-align: center;
}

.header__title {
	font-size: 24px;
	color: #8b0000; /* darkred */
}

/* Tasks
========================================*/

.tasks {
	margin-bottom: 100px;
}

.tasks__inner .blocks:not(:last-child) {
	margin-bottom: 20px;
}

.blocks {
	padding: 20px;

	border: 1px solid #000;

	position: relative;
}

.blocks__item {
	text-align: center;
	padding: 15px;
}

.blocks__item--brown {
	background-color: #794f45;
}

.blocks__item--puprule {
	background-color: #77608d;
}

.blocks__item--green {
	background-color: #7a956b;
}

/* Vehicle
========================================*/

.cybertruck {
	position: relative;
}

.cybertruck__body,
.car-arches,
.cybertruck__headlights,
car-windows {
	font-size: 0;
	color: transparent;
}

.cybertruck__body::before {
	content: "";
	width: 100px;
	height: 30px;
	background: #FFF;

	transform: rotate(-77deg);

	position: absolute;
	top: 180px;
	left: 954px;
	z-index: 2;
}

.cybertruck__body::after {
	content: "";
	width: 600px;
	height: 60px;
	background: #FFF;

	transform: rotate(22.4deg);

	position: relative;
	top: -227px;
	left: 500px;
}

.cybertruck__body-top {
	width: 1000px;
	height: 0;

	border-bottom: 140px solid #67727F; /* Satin Steel Gray */
	border-left: 591px solid transparent;
	border-right: 400px solid transparent;

	transform: rotate(3deg) translate(4px, 26px);

	position: relative;
}

.car-window-3-mask {
	width: 84px;
	height: 0;

	border-bottom: 34px solid #000;
	border-left: 0 solid transparent;
	border-right: 6px solid transparent;

	position: absolute;
	top: 54px;
	left: -100px;

	transform: rotate(-93deg);
}

.car-window-3 {
}

.car-window-4-mask {
	width: 93px;
	height: 0;

	border-bottom: 34px solid #000;
	border-left: 0 solid transparent;
	border-right: 6px solid transparent;

	position: absolute;
	top: 45px;
	left: -61px;

	transform: rotate(-93deg);
}

.car-window-4 {
	width: 90px;
	height: 0;

	border-bottom: 34px solid gray;
	border-left: 0 solid transparent;
	border-right: 6px solid transparent;

	position: absolute;
	top: 1px;
	left: 1.5px;
}

.car-window-5-mask {
	width: 93px;
	height: 0;

	border-bottom: 78px solid #000;
	border-left: 30px solid transparent;
	border-right: 0 solid transparent;

	position: absolute;
	top: 20px;
	left: -6px;

	transform: rotate(-273deg);
}

.car-window-5 {
	width: 90px;
	height: 0;

	border-bottom: 76px solid gray;
	border-left: 30px solid transparent;
	border-right: 0 solid transparent;

	position: absolute;
	top: 2px;
	left: -28.5px;
}

.car-window-6 {
	width: 64px;
	height: 0;

	border-bottom: 30px solid #000;
	border-left: 13px solid transparent;
	border-right: 0 solid transparent;

	position: absolute;
	top: 56px;
	left: 63px;

	transform: rotate(-273deg);
}

.car-window-7-mask {
	width: 0;
	height: 0;

	border-bottom: 52px solid #000;
	border-left: 0 solid transparent;
	border-right: 140px solid transparent;

	position: absolute;
	top: 50px;
	left: 107px;

	/* transform: rotate(0deg); */
}

.car-window-7 {
	width: 100px;
	height: 0;

	border-bottom: 48px solid gray;
	border-left: 0 solid transparent;
	border-right: 118px solid transparent;

	position: absolute;
	top: 0px;
	left: 2px;

	transform: rotate(-2deg);
}

.line-top {
	width: 950px;
	height: 1.5px;

	background-color: #000;

	position: absolute;
	bottom: -132px;
	right: -39px;

	transform: rotate(1deg);
}

.cybertruck__body-bottom {
	/* height: 190px; */
	/* width: 588px; */
	height: 0;
	width: 1000px;

	border-bottom: 140px solid #67727F; /* Satin Steel Gray */
	border-left: 30px solid transparent;
	border-right: 40px solid transparent;
	
	position: relative;

	transform: rotate(180deg);
}

.line-bottom {
	width: 380px;
	height: 2px;

	background-color: #000;

	position: absolute;
	bottom: -60px;
	right: 280px;
}

.line-front {
	width: 80px;
	height: 1.5px;

	background-color: #000;

	position: absolute;
	top: 98px;
	left: 27px;

	transform: rotate(81deg);
}

.car-arches {
	position: relative;
}

.car-arche-front {
	width: 170px;
	height: 50px;

	background-color: #A9A9A9; /* darkgray */

	position: absolute;
	top: 0;
	left: 80px;
	z-index: 2;
}

.car-arche-back {
	width: 170px;
	height: 50px;

	background-color: #A9A9A9; /* darkgray */

	position: absolute;
	bottom: -50px;
	right: 90px;
	z-index: 2;
}

.car-arche-front::after,
.car-arche-back::after {
	content: "";
	height: 0;
	width: 170px;

	border-bottom: 50px solid #A9A9A9;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;

	position: absolute;
	top: 50px;
	right: 0;

	transform: rotate(180deg);
}

.car-fender-front {
	width: 210px;
	height: 60px;

	background-color: #000;

	position: absolute;
	top: 0;
	left: 60px;
}

.car-fender-back {
	width: 210px;
	height: 60px;

	background-color: #000;

	position: absolute;
	bottom: -60px;
	right: 70px;
}

.car-fender-front::after,
.car-fender-back::after {
	content: "";
	height: 0;
	width: 210px;

	border-bottom: 60px solid #000;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;

	position: absolute;
	top: 60px;
	right: 0;

	transform: rotate(180deg);
}

.car-fender-back-line {
	width: 90px;
	height: 0;

	border-bottom: 40px solid #000;
	border-left: 0 solid transparent;
	border-right: 10px solid transparent;
	border-radius: 0 24px 10px 0;

	position: absolute;
	bottom: -40px;
	right: -20px;
}

.car-fender-middle-line {
	width: 380px;
	height: 20px;

	background-color: #000;

	position: absolute;
	bottom: -20px;
	right: 280px;
}

.car-fender-front-line {
	width: 80px;
	height: 0;

	border-bottom: 40px solid #000;
	border-left: 10px solid transparent;
	border-right: 0 solid transparent;
	border-radius: 24px 0 0 10px;

	position: absolute;
	top: 0;
	left: -20px;
}

.cybertruck__headlight-back-mask {
	width: 88px;
	height: 0;

	border-bottom: 14px solid #000;
	border-left: 0 solid transparent;
	border-right: 4px solid transparent;

	position: absolute;
	top: 227px;
	left: 24px;

	transform: rotate(180deg);
}

.cybertruck__headlight-back {
	width: 40px;
	height: 0;

	border-bottom: 12px solid #8B0000;
	border-left: 0 solid transparent;
	border-right: 4px solid transparent;

	position: absolute;
	top: 0;
	left: 47px;
}

.cybertruck__headlight-front-mask {
	width: 73px;
	height: 0;

	border-bottom: 14px solid #000;
	border-left: 4px solid transparent;
	border-right: 0 solid transparent;

	position: absolute;
	top: 227px;
	left: 909px;

	transform: rotate(180deg);
}

.cybertruck__headlight-front {
	width: 30px;
	height: 0;

	border-bottom: 12px solid #FF4500;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;

	position: absolute;
	top: 0;
	left: 37px;
}

.cybertruck__headlight-main-mask {
	width: 110px;
	height: 0;

	border-bottom: 14px solid #000;
	border-left: 0 solid transparent;
	border-right: 9px solid transparent;

	position: absolute;
	top: 177px;
	left: 893px;

	transform: rotate(180deg) rotate(22.5deg);
}

.cybertruck__headlight-main {
	width: 110px;
	height: 0;

	border-bottom: 10px solid beige;
	border-left: 0 solid transparent;
	border-right: 6px solid transparent;

	position: absolute;
	top: 2px;
	left: -2px;
}


.cybertruck__weels {
	width: 780px;
	/* height: 150px; */

	font-size: 0;
	color: transparent;	
	
	position: relative;
	top: 0;
	left: 120px;
}

.cybertruck__weel {
	width: 150px;
	height: 150px;
	
	/* background-color: #eee; */
	background-color: #D3D3D3; /* lightgray */

	border-radius: 50%;
	border: 10px solid #000;
	outline: 7px dashed #000;

	position: absolute;
}

.cybertruck__weel:first-child {
	left: 20px;
	bottom: 0;
}

.cybertruck__weel:last-child {
	right: 20px;
	bottom: 0;
}

.cybertruck__weel::after {
	content: "";
	width: 80px;
	height: 80px;

	background-color: #000;

	border-radius: 50%;
	/* outline: 9px dashed #000; */

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.up {
	padding-right: 20px;
	text-align: right;
}

.up__link {
	font-size: 18px;
	color: #4b0082; /* indigo */

	text-transform: lowercase;
}

.up__link:hover {
	text-decoration: underline;
}

/* Footer
========================================*/

.footer {
	padding: 20px 0 20px 20px;
}

.footer__link {
	font-size: 18px;
	color: #006400; /* darkgreen */
}

.footer__link:hover {
	text-decoration: underline;
}
