@import url("fonts.css");
@import url("reset.css");


.wrapper {
	min-width: 1440;
	min-height: 100%;
	overflow: clip;
}

.container {
	max-width: 1302px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* .page {
	padding: 30px;
} */

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	color: #000;
}

.header {
	padding: 20px 0;

	color: darkred;

	text-align: center;
}

.descriptions {
	max-width: 712px;
	padding: 32px;
	margin: 0 auto;
}

.descriptions-text {
	margin-bottom: 20px;

	font-family: "Poppins", sans-serif;
	color: #808080;
	line-height: 1.5;
}

.descriptions-list {
	line-height: 1.4;
}

.descriptions-list > li {
	margin-bottom: 14px;
}

.descriptions-list img {
	margin-right: 4px;
}

.footer {
	padding: 20px 0 20px 20px;

	color: darkgreen;
}

/* Helpers */
.mb--20 {
	margin-bottom: 20px;
}

.mb--0 {
	margin-bottom: 0;
}