@import url("fonts.css");
@import url("reset.css");


.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;

	overflow: clip;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

[class*="--margin"] {
	margin-bottom: 50px;
}

[class*="--capitalize"] {
	text-transform: capitalize;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 24px;
	color: #000;

	background-color: #FFF;
}


/* Header
========================================*/

.header {
	padding: 20px 0;

	text-align: center;
}

.header__title {
	font-size: 24px;
	color: #8b0000; /* darkred */
}


/* Tasks
========================================*/

.tasks__items {
	padding: 20px;

	border: 1px solid #000;
}

.tasks__item:not(:last-child) {
	margin-bottom: 20px;
}

.flex__item {
	padding: 20px;
}


/* Order Form
========================================*/

.order-form {
	padding-top: 32px;
	padding-bottom: 80px;
}

.form {
	display: flex;
	column-gap: 24px;

	font-family: "Poppins", sans-serif;
}


/* .form__billing ============*/
.form__billing {
	padding-bottom: 32px;

	border-bottom: 1px solid #E6E6E6;
}

.billing__title {
	margin-bottom: 20px;

	font-size: 24px;
	color: #1A1A1A;
	font-weight: 500;
	line-height: 1.5;
}

.billing__row {
	display: flex;
	column-gap: 16px;
}

.billing__rows {
	margin-bottom: 20px;
}

.billing__rows .billing__row:not(:last-child) {
	margin-bottom: 16px;
}

.billing__item {
	width: 100%;
	max-width: 280px;
}

.billing__label {
	width: 100%;
	margin-bottom: 8px;

	font-size: 14px;
	color: #1A1A1A;
	line-height: 1.5;
}

.billing__label--gray {
	color: #808080;
}

.billing__input {
	width: 100%;
	min-height: 49px;
	padding: 0 16px;

	font-size: 16px;
	color: #1A1A1A;
	line-height: 1.3;

	border: 1px solid #E6E6E6;
	border-radius: 6px;
}

.billing__input:focus {
	outline: 1px solid #00B207;
}

.billing__input::placeholder {
	color: #999;

	transition: opacity 0.3s;
}

.billing__input:focus::placeholder {
	opacity: 0;
}

.billing__item--size-100 {
	max-width: 100%;
}

.billing__item--size-50 {
	max-width: 50%;
}


/* .checkbox ============*/
.checkbox {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: flex-start;
}

.checkbox__item {
	display: inline-flex;
	flex-direction: column;
}

.checkbox__input {
	appearance: none;
}

.checkbox__label {
	display: inline-flex;
	align-items: center;
	column-gap: 6px;

	font-size: 14px;
	color: #4D4D4D;
	line-height: 1.5;

	cursor: pointer;
	user-select: none;
}

.checkbox__label::before {
	content: "";
	width: 20px;
	height: 21px;
	align-self: flex-start;
	flex-shrink: 0;

	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;

	transition: border-color 0.2s;
}

.checkbox__label:hover::before {
	border-color: #00B207;
}

/* Стан "вибраний" - checked при кліку звертаємось до псевдоелементу лейбла та задаємо потрібні стилі, чи фонову картинку - іконку */
.checkbox__input:checked + .checkbox__label::before {
	background: #00B207 url("../img/check-mark-button.svg") center / contain no-repeat;

	border-color: #00B207;
}

/* власні стилі для outline при використанні навігації за допомогою Tab */
.checkbox__input:focus-visible + .checkbox__label {
	outline: 1px solid #00B207;
	border-radius: 5px;
}


/* .form__additional ============*/
.form__additional {
	padding-top: 32px;
}

.additional__title {
	margin-bottom: 20px;

	font-size: 24px;
	color: #1A1A1A;
	font-weight: 500;
	line-height: 1.5;
}

.additional__label {
	margin-bottom: 8px;

	font-size: 14px;
	color: #1A1A1A;
	line-height: 1.5;
}

.additional__textarea {
	min-height: 100px;
	padding: 16px 14px;

	font-size: 16px;
	color: #1A1A1A;
	line-height: 1.3;

	background-color: #FFF;
	border: 1px solid #E6E6E6;
	border-radius: 6px;

	resize: vertical;
}

.additional__textarea:focus {
	outline: 1px solid #00B207;
}

.additional__textarea::placeholder {
	color: #999;

	transition: opacity 0.3s;
}

.additional__textarea:focus::placeholder {
	opacity: 0;
}


/* .form__order ============*/
.form__order {
	display: inline-flex;
	flex-direction: column;
	align-self: flex-start;
	flex-grow: 1;
	row-gap: 24px;
	padding: 24px;

	font-size: 14px;
	color: #1A1A1A;
	line-height: 1.5;

	background-color: #FFF;
	border: 1px solid #E6E6E6;
	border-radius: 8px;
}

.summery {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.summery__title {
	font-size: 20px;
	color: #1A1A1A;
	font-weight: 500;
	line-height: 1.5;
}

.goods__item {
	min-height: 60px;
	display: flex;
	align-items: center;
	column-gap: 6px;
}

.goods__image {
	width: 60px;
	height: 60px;
}

.goods__amount {
	flex-grow: 1;
}

.goods__price,
.summery__price {
	font-weight: 500;
}

.summery__item {
	display: flex;
	justify-content: space-between;
	padding: 12px 0;

	border-bottom: 1px solid #E6E6E6;
}

.summery__items .summery__item:last-child {
	padding-bottom: 0;

	border: none;
}

.summery__total-price {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

.payment__title {
	margin-bottom: 16px;

	font-size: 20px;
	color: #1A1A1A;
	font-weight: 500;
	line-height: 1.5;
}


/* radio-btn ============ */
.radio-btn {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: flex-start;
}

.radio-btn__item {
	display: inline-flex;
	flex-direction: column;
}

.radio-btn__input {
	appearance: none;
}

.radio-btn__label {
	display: inline-flex;
	align-items: center;
	column-gap: 6px;

	font-size: 14px;
	color: #4D4D4D;
	line-height: 1.5;

	position: relative;

	cursor: pointer;
	user-select: none;
}

.radio-btn__label::before {
	content: "";
	width: 20px;
	height: 20px;
	align-self: center;
	flex-shrink: 0;

	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 50%;

	transition: border-color 0.2s;
}

.radio-btn__label:hover::before {
	border-color: #00B207;
}

.radio-btn__label::after {
	content: "";
	width: 12px;
	height: 12px;

	background-color: #00B207;
	border-radius: 50%;
	outline: 1.5px solid #00B207;
	outline-offset: 2.5px;

	position: absolute;
	top: 4.5px;
	left: 4px;

	opacity: 0;
	transition: opacity 0.2s;
}

.radio-btn__input:checked + .radio-btn__label::after {
	opacity: 1;
}

.radio-btn__input:focus-visible + .radio-btn__label {
	outline: 1px solid #00B207;
	border-radius: 15px;
}


/* .payment__button ============*/
.payment__button {
	padding: 16px 48px;

	font-size: 16px;
	color: #FFF;
	font-weight: 600;
	line-height: 1.2;

	background-color: #00B207;
	border-radius: 43px;
}

.payment__button:focus {
	outline: 2px solid #C80808;
}


/* .up ============*/
.up {
	padding: 20px 0;

	text-align: right;
}

.up__link {
	font-size: 18px;
	color: #4B0082; /* indigo */

	text-transform: lowercase;
}

.up__link:hover {
	text-decoration: underline;
}


/* Footer
========================================*/

.footer {
	padding: 20px 0;
}

.footer__inner {
	display: flex;
}

.footer__text {
	font-size: 18px;
	color: #006400; /* darkgreen */
}

.footer__text--center {
	margin: 0 auto;
}
