@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label {
  display: block;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*="--margin"] {
  margin-bottom: 3.125rem;
}

[class*="--green"] {
  background-color: #7a956b;
}

[class*="--brown"] {
  background-color: #794f45;
}

[class*="--purple"] {
  background-color: #77608d;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #000;
  background-color: #fff;
  opacity: 0.3;
  -webkit-transition: opacity 0.3;
  transition: opacity 0.3;
}
body.body--opacity-off {
  opacity: 1;
}

/* Header
======================================== */
.header {
  padding: 1.25rem 0;
  text-align: center;
}
.header__title {
  font-size: 1.5rem;
  color: #8b0000; /* darkred */
}

/* Tasks
======================================== */
/* .section-header ============ */
.section-header {
  margin-bottom: 36px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section-header__title {
  font-size: 28px;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 1.2;
}

.tasks__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.tasks__item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.button {
  padding: 0.5rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: red;
  line-height: 1.5;
  background-color: #fff;
  border: red 3px solid;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    color: #fff;
    background-color: red;
  }
}

.tasks__text {
  text-align: justify;
}

.item-2 {
  padding: 7px 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 300px;
  min-height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 72px;
  color: red;
  background-color: #fff;
  border: red 3px solid;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* @media ============================== */
@media (prefers-color-scheme: dark) {
  /* простіше не змінювати окремі стилі, а перезаписувати значення css змінних при зміні колірної схеми сторінки */
}
@media (any-hover: hover), (pointer: fine) {
  /* any-hover: hover */
}
/* (any-hover: none) може не коректно працювати у деяких китайських телефонах 
тому додано ще медіазапит (pointer: coarse) */
@media (any-hover: none), (pointer: coarse) {
  /* any-hover: none */
}
@media (max-width: 1199.98px) {
  /* PC */
}
@media (max-width: 991.98px) {
  /* Tablet */
}
@media (max-width: 767.98px) {
  /* Mobile */
}
@media (max-width: 479.98px) {
  /* Mobile Small */
}
@media (max-width: 319.98px) {
  /* iPhone 5C/5S/5SE */
}
/* Tasks
======================================== */
/* .up ============ */
.up {
  padding: 1.25rem 0;
  text-align: right;
}
.up__link {
  font-size: 1.125rem;
  color: #4b0082; /* indigo */
  text-transform: lowercase;
}
.up__link:hover {
  text-decoration: underline;
}

/* Footer
======================================== */
.footer {
  padding: 1.25rem 0;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.9988em) {
  .footer__inner {
    /* Mobile Small */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 0.9375rem;
  }
}
.footer__text {
  font-size: 1.125rem;
  color: #006400; /* darkgreen */
}
.footer--bg-color {
  background: #006400 -webkit-gradient(linear, left top, right top, from(#006400), color-stop(50%, #fff), to(#006400));
  background: #006400 linear-gradient(90deg, #006400 0%, #fff 50%, #006400 100%);
}