@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #000;

  background-color: #fff;
}

/*! Header
======================================== */

.header {
  padding: 1.25rem 0;

  text-align: center;
}

.header__title {
  font-size: 1.5rem;
  color: #8b0000; /* darkred */
}

/*! Tasks
======================================== */

.tasks {
  line-height: 1.5;
}

.tasks__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tasks__title {
  color: #4b0082;
}

.tasks__link {
  color: #0645ad;
}

.list {
  padding-left: 3rem;
}

.list__item:has(.button) {
  margin-top: 0.75rem;
}

.list__item--style {
  list-style-type: disc;
}

.button {
  padding: 0.5rem 1.875rem;

  color: #ff0000;
  line-height: 1.5;

  border: 0.1875rem solid #ff0000;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.table {
  border: 0.0625rem solid #000;

  border-collapse: collapse;
}

.table__header {
  padding: 0 1rem;

  border: 0.0625rem solid #000;
  background-color: #d3d3d3;

  text-align: center;
}

.table__data {
  padding: 0 1rem;

  text-align: center;

  border: 0.0625rem solid #000;
}

.table-receipt {
  min-width: 20rem;
}

.table-receipt__header {
  padding-bottom: 1.5rem;

  text-align: center;

  border-bottom: 0.1875rem dashed #000;
}

.table-receipt__data--center {
  text-align: center;
}

.table-receipt__data--right {
  text-align: right;
}

.table-receipt__data--text {
  font-weight: 700;

  text-transform: uppercase;
}

.table-receipt__data--border {
  border-top: 0.1875rem dashed #000;
}

.table-receipt__data--tfoot {
  padding-top: 1.5rem;

  text-transform: uppercase;

  border-top: 0.1875rem dashed #000;

  text-align: center;
}

/* @media ============================== */
@media (any-hover: hover), (pointer: fine) {
  .tasks__link:hover {
    text-decoration-line: underline;
  }

  .button:hover {
    color: #fff;
    background-color: #ff0000;
  }
}

/** .up ============ */
.up {
  padding: 1.25rem 0;

  text-align: right;
}

.up.up--left {
  text-align: left;
}

.up__link {
  font-size: 1.125rem;
  color: #0645ad;

  text-transform: lowercase;
}

@media (any-hover: hover), (pointer: fine) {
  .up__link:hover {
    text-decoration: underline;
  }
}

/*! Footer
======================================== */

.footer {
  padding: 1.25rem 0;
}

.footer__inner {
  text-align: center;
}

.footer__text {
  font-size: 1.125rem;
  color: #006400; /* darkgreen */
}
