/*Скидання стилів*/
@import url(reset.css);

/* Підключення шрифтів */
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    color: #000000;
}

.wrapper {
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

[class*=__container] {
    max-width: 1350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

[class*="--margin"] {
    margin-bottom: 80px;
}

@media (max-width: 425px) {
    [class*="--margin"] {
        margin-bottom: 40px;
    }
}

/* ========================================= */

#header,
#footer {
    padding: 32px 0;
    background: #128cd0;
    color: #ffffff;
}

#header .header__list,
#footer .footer__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
}

@media (any-hover: hover),
(pointer: fine) {

    #header .header__list a:hover,
    #footer .footer__container:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    @media (max-width: 425px) {
        #header {
            font-size: 12px;
        }
    }
}


/* ---- name-lesson ---- */
.name-lesson {
    margin-top: 30px;
    font-size: 44px;
}

.name-lesson__container {
    max-width: 1230px;
}

.subtitile {
    margin-bottom: 20px;
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
}


/* ---- example-1 ---- */
.practise__container {
    max-width: 1230px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.example-1 .grid-box {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    text-align: center;
}

.example-1 .grid-item {
    background-color: #128cd0;
    color: #ffffff;
    padding: 20px 0;
}



/* ---- example-2 ---- */
.example-2 .grid-block {
    display: grid;
    gap: 15px;
    grid-template-columns: 30px 1fr;
}

.example-2 .grid-block::before {
    content: '';
    background: url(../img/icons/icon-arrow.png) 0 0 / 100% no-repeat;

    aspect-ratio: 1/1;
    align-self: start;
}

.example-2 .grid-block:last-child {
    margin-top: 30px;
    display: inline-grid;
    align-items: center;
}






/* ---- example-3 ---- */

/*.example-3 .grid-block {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 200px 1fr;
}

.example-3 .grid-block img {
    max-width: 100%;
}*/


/*якщо зображення не буде - #1 */
/*.example-3 .grid-block {
    display: grid;
    gap: 10px 20px;
    grid-template-columns: auto 1fr; 
}

.example-3 .grid-block img {
    max-width: 100%;
    width: 200px;
}*/


/*якщо зображення не буде - #2 */
.example-3 .grid-block {
    display: grid;
    gap: 10px 20px;
}

.example-3 .grid-block img {
    border: 3px solid #128cd0;
    max-width: 100%;
}

.example-3 .grid-block:has(img) {
    grid-template-columns: minmax(400px, 1fr) 1fr;
}

@media (max-width:767.98px) {
    .example-3 .grid-block:has(img) {
        grid-template-columns: auto;
    }
}



/* ---- example-4 ---- */

.example-4 .grid-box {
    display: grid;
    gap: 20px;

    /* grid-template-columns: repeat(3, 1fr);*/
    /* Не адаптивна конструкція*/

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Адаптивна конструкція з автоматичною перебудовою колонок з min-width: 200px. Також auto-fill є більш доречним для карток з зображеннями */

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* З auto-fit колонки розтягуються і намагаються заповнити все вільне місце*/
}

.example-4 .grid-box .grid-item {
    border: 3px solid #128cd0;
    padding: 10px;
}



/* ---- example-5 ---- */
.example-5 .grid-box {
    display: grid;
    gap: 20px;

    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    /*Адаптується для ширин екрану менших за 300рх*/
}

.example-5 .grid-box .grid-item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;

    border: 3px solid #128cd0;
    padding: 15px;
}

@media (min-width: 665px) {
    .example-5 .grid-box {
        grid-auto-rows: 1fr;
        /*Задаємо однакову висоту карток в залежності від наповнення + всі будуть рівнятися на більшу*/
    }
}

.example-5 .grid-box .grid-item:has(img) {
    grid-template-rows: auto 1fr auto;
}

.example-5 .grid-box .grid-item img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 350 / 210;
}

.example-5 .grid-box .grid-item a {
    color: #128cd0;
    font-weight: 600;
    transition: text-decoration 0.3s;
}


@media (any-hover: hover),
(pointer: fine) {
    .example-5 .grid-box .grid-item a:hover {
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}





/* ---- example-6 ---- */

.example-6 .items {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.example-6 .grid-content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}

.example-6 .grid-item {
    border: 3px solid #128cd0;
    padding: 10px;
}

.example-6 .grid-img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

@media (min-width: 565px) {
    .example-6 .grid-content:nth-child(even) .grid-item:nth-child(1) {
        order: 1;
    }

    .example-6 .grid-content:nth-child(even) .grid-item:nth-child(2) {
        order: 0;
    }
}





/* ---- example-7 ---- */

.example-7 .grid-box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(15, 1fr);
}

.example-7 .grid-item {
    border: 3px solid #128cd0;
    padding: 10px;

    grid-column: span 4;
    /*span - Дозволяю  зайняти елементу 4-колонки*/
}

.example-7 .grid-item:nth-child(6n + 3),
.example-7 .grid-item:nth-child(6n + 4) {
    grid-column: span 7;
    /*span - Дозволяю  зайняти елементу 7-колонок*/
    background: #128cd0;
}

@media (max-width: 700px) {
    .example-7 .grid-box {
        grid-template-columns: repeat(14, 1fr);
    }

    .example-7 .grid-item {
        grid-column: span 7;
    }

    .example-7 .grid-item:nth-child(6n + 3),
    .example-7 .grid-item:nth-child(6n + 4) {
        grid-column: span 14;
    }
}

@media (max-width:600px) {
    .example-7 .grid-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .example-7 .grid-item,
    .example-7 .grid-item:nth-child(6n + 3),
    .example-7 .grid-item:nth-child(6n + 4) {
        grid-column: auto;
    }
}

@media (max-width:450px) {
    .example-7 .grid-box {
        grid-template-columns: auto;
    }
}



/* ---- example-8 ---- */

.example-8 .grid-items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*grid-template-rows: masonry; ця властивість поки не працює*/
    grid-auto-rows: 50px;
    /*це висота рядка*/
}

.example-8 .grid-item--middle {
    grid-row: span 2;
}

.example-8 .grid-item--big {
    grid-row: span 3;
}

.example-8 .grid-item--mega {
    grid-row: span 4;
}

.example-8 .grid-item {
    border: 3px solid #128cd0;
    padding: 10px;
}

/* ============================================= */
