@import url("reset.css");

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 88.75rem;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*="--weight"] {
  font-weight: 700;
}

[class*="--center"] {
  text-align: center;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #000;

  background-color: #fff;

  &.no-scroll {
    overflow: clip;
  }
}

/*! Header
======================================== */

.header {
  padding: 1.25rem 0;

  text-align: center;
}

.header__title {
  font-size: 1.5rem;
  color: #8b0000; /* darkred */
}

/*! Tasks
======================================== */

.tasks {
  line-height: 1.5;
}

.tasks__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.tasks__title {
  color: #4b0082;
}

.tasks__link {
  color: #0645ad;
}

.result__title {
  display: block;
  margin-bottom: 1.25rem;

  text-align: center;

  color: #df410c;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.gallery {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
  gap: 20px;
}

.gallery__link {
  width: 100%;

  background-color: lightgray;
  border-radius: 0.3125rem;

  aspect-ratio: 1 / 1;
  overflow: clip;
}

.gallery__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  will-change: transform;
  transition: transform 0.3s linear;
}

#load-trigger {
  height: 3.125rem;
}

/* Modal ============================== */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;

  background-color: rgba(6, 15, 49, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  &.show {
    display: flex;
    align-items: center;
  }
}

.modal__image {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.list {
  padding-left: 3rem;
}

.list__item--border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;

  border: 0.125rem solid #000;
}

.board {
  max-width: 45rem;
  padding: 1.25rem;

  border: 0.25rem solid #000;
}

.board__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.375rem;
  flex-wrap: wrap;
}

.board__list {
  width: 100%;
  padding: 0.625rem;

  flex-grow: 1;

  border: 0.25rem solid darkred;

  & > li:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.board__list--right .list__icon {
  stroke: #ff0000;
  fill: transparent;

  transition: fill 0.1s linear;
  transform: rotateY(180deg);
}

.board__list--left .list__icon {
  stroke: #008000;
  fill: transparent;

  transition: fill 0.1s linear;
}

.list__title {
  font-weight: 700;
}

.list__title--green {
  color: #008000;
}

.list__title--darkred {
  color: #8b0000;
}

.list__icon {
  height: 2.25rem;

  cursor: pointer;
}

.list__order--red > li {
  background-color: #ff0000;
}

.list__order--green > li {
  background-color: #008000;
}

.list__item:has(.button) {
  margin-top: 0.75rem;
}

.list__item--style {
  list-style-type: disc;
}

.list__item--flex {
  display: flex;
  gap: 1.25rem;

  flex-wrap: wrap;
}

.list__item--order {
  list-style-type: decimal;

  margin-left: 1.5rem;

  border-bottom: 0.0625rem solid #000;
}

.list__item--margin-top {
  margin-top: 1.25rem;
}

.button {
  padding: 0.5rem 1.875rem;

  color: #ff0000;
  line-height: 1.5;

  border: 0.1875rem solid #ff0000;
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.table {
  border: 0.0625rem solid #000;

  border-collapse: collapse;
}

.table--border-red {
  outline: 0.1875rem solid red;
}

.table__header,
.table__footer {
  padding: 0 1rem;

  border: 0.0625rem solid #000;
  background-color: #d3d3d3;

  text-align: center;
}

.table__footer {
  text-align: left;
}

.table__data {
  padding: 0 1rem;

  text-align: center;

  border: 0.0625rem solid #000;

  cursor: pointer;
}

.table-receipt {
  min-width: 20rem;
}

.table-receipt__header {
  padding-bottom: 1.5rem;

  text-align: center;

  border-bottom: 0.1875rem dashed #000;
}

.table-receipt__data--center {
  text-align: center;
}

.table-receipt__data--right {
  text-align: right;
}

.table-receipt__data--text {
  font-weight: 700;

  text-transform: uppercase;
}

.table-receipt__data--border {
  border-top: 0.1875rem dashed #000;
}

.table-receipt__data--tfoot {
  padding-top: 1.5rem;

  text-transform: uppercase;

  border-top: 0.1875rem dashed #000;

  text-align: center;
}

figure,
figcaption {
  text-align: center;
}

.tasks__image {
  padding-left: 3.125rem;
}

.tasks__text {
  padding-left: 3.3125rem;
}

/* .filter-form ============ */
.filter-form {
  display: flex;
  gap: 1.25rem;
  padding: 0.625rem;

  flex-grow: 1;

  border: 0.25rem solid green;

  & > li:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

.filter-form__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.filter-form__label {
  flex-shrink: 0;
}

.filter-form__select {
  width: 100%;
  border: 2px solid #000;

  font-size: 1.5rem;

  background-color: #fff;
}

/* .form__button ============ */
.calculator__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  max-width: 42.5rem;
  padding: 1.25rem;

  border: 0.125rem solid #000;
  border-radius: 0.375rem;
}

.form__row {
  display: flex;
  gap: 20px;
}

.form__line {
  font-size: 0;
  color: transparent;

  height: 0.125rem;
  background-color: #000;
}

.form__item--grow {
  flex-grow: 1;
}

.form__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.form__label {
  min-width: 7.25rem;
  font-size: 1.125rem;
  color: #000;

  flex-shrink: 0;
}

.form__input {
  padding: 0.625rem;

  font-size: 1.125rem;
  color: #000;

  border: 0.125rem solid #000;
  border-radius: 0.375rem;
}

.form__input--time,
.form__input--date,
.form__input--datetime,
.form__input--number,
.form__input--month,
.form__input--make,
.form__input--task {
  width: auto;
  padding: 0 0.625rem;
}

.form__input--month,
.form__input--make {
  max-width: 4.125rem;
}

.form__input--color,
.form__input--text {
  padding: 0 0.125rem;
  max-width: 7%;

  background-color: #fff;
}

.form__input--full-name {
  padding: 0 0.125rem;
  width: 25%;
}

.form__input--text {
  max-width: 3%;

  text-align: center;
}

.form__input--amount {
  padding: 0 0.125rem;
  max-width: 5%;

  text-align: center;
}

.form__input:focus {
  outline: 0.125rem solid #000;
  outline-offset: -0.125rem;
}

.form__input::placeholder {
  color: #999;

  transition: opacity 0.3s;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__input:disabled {
  opacity: 0.2;
}

.form__input--disabled:hover {
  cursor: not-allowed;
}

.form__input--height {
  min-height: 2.8125rem;
}

/* .form__button ============ */
.form__button {
  width: 100%;
  padding: 0.625rem 0.625rem;

  font-size: 1.125rem;
  color: #000;
  font-weight: 500;
  line-height: 1.4;

  background-color: #fff;
  border: 0.125rem solid #000;
  border-radius: 2.6875rem;

  transition: background-color 0.3s, color 0.3s;
}

.form__button--time {
  width: auto;
}

.form__button--border-radius {
  width: auto;

  border-radius: 0.75rem;
}

.form__button--student,
.form__button--add {
  width: auto;
  padding: 1px 0.625rem;

  border-radius: 0.75rem;
}

.form__button:hover {
  background-color: #000;
  color: #fff;
}

/* @media ============================== */
@media (any-hover: hover), (pointer: fine) {
  .board__list--right .list__icon:hover {
    fill: #ff0000;
  }

  .board__list--left .list__icon:hover {
    fill: #008000;
  }

  .tasks__link:hover {
    text-decoration-line: underline;
  }

  .button:hover {
    color: #fff;
    background-color: #ff0000;
  }

  .gallery__link:hover .gallery__image {
    transform: scale(1.05);
  }
}

@media (max-width: 599.98px) {
  .board {
    flex-wrap: wrap;
  }

  .form__row,
  .filter-form__item {
    flex-wrap: wrap;
  }

  .form__item {
    display: block;
  }

  .form__label {
    margin-bottom: 0.25rem;
  }
}

@media (max-width: 479.98px) {
  .filter-form {
    flex-wrap: wrap;
  }
}

/** .up ============ */
.up {
  padding: 1.25rem 0;

  text-align: right;
}

.up.up--left {
  text-align: left;
}

.up__link {
  font-size: 1.125rem;
  color: #0645ad;

  text-transform: lowercase;
}

@media (any-hover: hover), (pointer: fine) {
  .up__link:hover {
    text-decoration: underline;
  }
}

/*! Footer
======================================== */

.footer {
  padding: 1.25rem 0;
}

.footer__inner {
  text-align: center;
}

.footer__text {
  font-size: 1.125rem;
  color: #006400; /* darkgreen */
}
